<h2>Your DJs for Rent</h2>
<% @djs.each do |dj| %>
  <p><%= dj.name %></p>
  <p>Name: <%= dj.name %></p>
  <p>Rate: <%= dj.rate %></p>

  <h2>Your Bookings:</h2>
  <% dj_bookings = @outgoing_bookings.select { |booking| booking.dj_id == dj.id } %>
  <% if dj_bookings.present? %>
    <!-- Display bookings made by the DJ -->
    <% dj_bookings.each do |booking| %>
      <%= render "bookings/booking_request", booking: booking %>
    <% end %>
  <% else %>
    <p>No bookings made by this DJ.</p>
  <% end %>

  <% dj_incoming_bookings = @incoming_bookings.select { |booking| booking.dj_id == dj.id } %>
  <% if dj_incoming_bookings.present? %>
    <h2>Your Incoming Bookings:</h2>
    <!-- Display bookings made to the DJ -->
    <% dj_incoming_bookings.each do |booking| %>
      <%= render "bookings/booking_request", booking: booking %>
    <% end %>
  <% else %>
    <p>No incoming bookings for this DJ.</p>
  <% end %>

<% end %>

<% if @djs.empty? %>
  <p>No DJ associated with the user.</p>
<% end %>
