<style>
  /* Add this CSS to your stylesheet or in the <head> section of your HTML file */
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .dj-container {
    flex-basis: 60%;
    padding: 10px;
  }

  .user-bookings {
    flex-basis: 40%;
    padding: 10px;
  }

  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
  }
</style>

<div class="container">
  <div class="dj-container">
    <h2>Your DJs for Rent</h2>
    <% @djs.each do |dj| %>
      <div class="card">
        <div class="card-body">

          <h3><%= link_to dj.name, dj_path(dj) %></h3>
          <p>Genre: <%= dj.genre.category %></p>
          <p>Rate (per hour): <%= "$#{dj.rate}" %></p>
          <p>Location: <%= dj.location %></p>
        </div>
      </div>

      <% dj_incoming_bookings = @incoming_bookings.select { |booking| booking.dj_id == dj.id } %>
      <% if dj_incoming_bookings.present? %>
        <h4>Incoming Bookings for <%= dj.name %>:</h4>
        <!-- Display bookings made to the DJ -->
        <% dj_incoming_bookings.each do |booking| %>
          <div class="card">
            <% if booking.status == 'pending' %>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> wants to book <%= dj.name %> for <%= number_to_currency(booking.total_price) %> on <%= booking.date.strftime('%Y-%m-%d') %> at <%= booking.start_time.strftime('%H:%M') %> until <%= booking.end_time.strftime('%H:%M') %></p>
            <% elsif booking.status == 'approved' %>
              <p><%= booking.user.first_name %> <%= booking.user.last_name %> has booked <%= dj.name %> for <%= number_to_currency(booking.total_price) %> on <%= booking.date.strftime('%Y-%m-%d') %> at <%= booking.start_time.strftime('%H:%M') %> until <%= booking.end_time.strftime('%H:%M') %></p>
            <% elsif booking.status == 'rejected' %>
              <p>You have rejected <%= booking.user.first_name %> <%= booking.user.last_name %>'s request to book <%= dj.name %> for <%= number_to_currency(booking.total_price) %> on <%= booking.date.strftime('%Y-%m-%d') %> at <%= booking.start_time.strftime('%H:%M') %> until <%= booking.end_time.strftime('%H:%M') %></p>
            <% end %>

            <% if booking.status == "pending" %>
              <%= render "bookings/booking_request", booking: booking %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>No incoming bookings for this DJ.</p>
      <% end %>


    <% if @djs.empty? %>
      <p>No DJs associated with the user.</p>
    <% end %>
  </div>

  <div class="user-bookings">
    <h2>Your Bookings</h2>
    <% user_bookings = @outgoing_bookings.select { |booking| booking.user_id == current_user.id } %>
    <% if user_bookings.present? %>
      <!-- Display bookings made by the current_user -->
      <% user_bookings.each do |booking| %>
        <div class="card">
          <%= render "bookings/booking", booking: booking %>
        </div>
      <% end %>
    <% else %>
      <p>No bookings made by you.</p>
    <% end %>
  </div>
</div>
