
<!-- app/views/djs/index.html.erb -->

<%= content_for :banner %>
<div style="background-image: url('<%= asset_path('DJmarketplace_homepage.svg') %>'); background-size: 80%; background-repeat: no-repeat; background-position: left; height: 300px; display: flex; align-items: center; justify-content: flex-start; padding-left: 100px; color: #37382D;">
  <div>
    <h1 class="display-4">DJ matchr</h1>
    <p style="font-size: 30px; margin-top: 5px;">Bringing DJs and parties together</p>
  </div>
</div>


<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: djs_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by name, genre, price or location"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @djs.each do |dj| %>
      <div class="col">
        <div class="card h-100" style="width: 100%;">
          <% if dj.photo.attached? %>
            <%= image_tag dj.photo, class: 'card-img-index' %>
          <% else %>
            <p>No photo available.</p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= dj.name %></h5>
            <p class="card-text"><strong>Genre:</strong> <%= dj.genre.category %></p>
            <p class="card-text"><strong>Rate (per hour):</strong> $<%= dj.rate %></p>
            <p class="card-text"><strong>Location:</strong> <%= dj.location %></p>
            <% if dj.description.length > 100 %>
              <p class="card-text"><%= "#{dj.description[0..100]}..." %></p>
            <% else %>
              <p class="card-text"><%= "#{dj.description}" %></p>
            <% end %>
            <a href="<%= dj_path(dj) %>" class="btn btn-primary">Check out more</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
