
<!-- app/views/djs/index.html.erb -->

<%= content_for :banner %>
<div style="background-image: url('<%= asset_path('sampleDjImages/banner.jpg') %>'); background-size: cover; background-repeat: no-repeat; height: 300px; display: flex; align-items: center; justify-content: center;">
  <h1 class="text-center text-light display-4"> Pimp Yo DJ </h1>
</div>

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <% @djs.each do |dj| %>
      <div class="col">
        <div class="card h-100" style="width: 100%;">
          <% if dj.photo.attached? %>
            <%= image_tag dj.photo, class: 'card-img-index' %>
          <% else %>
            <p>No photo available.</p>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= dj.name %></h5>
            <p class="card-text"><%= "Genre: #{dj.genre.category}" %></p>
            <p class="card-text"><%= "Rate (per hour): $#{dj.rate}"%></p>
            <% if dj.description.length > 100 %>
              <p class="card-text"><%= "Description: #{dj.description[0..100]}..." %></p>
            <% else %>
              <p class="card-text"><%= "Description: #{dj.description}" %></p>
            <% end %>
            <p class="card-text"><%= "Location: #{dj.location}" %></p>
            <a href="<%= dj_path(dj) %>" class="btn btn-primary">Check out more</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
