<h3>PIMP YO DJ</h3>
        <%= simple_form_for @dj do |f| %>
          <%= f.input :name, placeholder: 'DJ Varley' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :category, { prompt: 'Select a Genre' }, { class: 'form-control' } %>
           <%= f.input :rate, placeholder: '50' %>
          <%= f.input :description, placeholder: 'hi i am a retired wedding dj' %>
           <%= f.submit class: 'btn btn-flat' %>
        <% end %>
