<h3><%= @dj.name %></h3>
<p>Genre: <%= @dj.genre.category %></p>
<p>Rate: <%= "$#{@dj.rate} per hour" %></p>
<p>Description: <%= @dj.description %></p>

<% if @dj.photo.attached? %>
  <%= image_tag @dj.photo, class: 'dj-photo' %>
<% else %>
  <p>No photo available.</p>
<% end %>

<%= link_to 'Back', djs_path, class: 'btn btn-primary' %>

<%= link_to 'Edit', edit_dj_path(@dj), class: 'btn btn-secondary' %>

 <%= link_to dj_path(@dj), data: {turbo_method: :delete, turbo_confirm: "Delete #{@dj.name}?"},class: 'btn btn-danger'  do %>

<% end %>
